@import "common-values.scss";
@import "./assets/font-awesome-6/fontawesome.scss";
@import "./assets/font-awesome-6/regular.scss";
@import "./assets/font-awesome-6/solid.scss";

body {
  background-color: $kpmp-gray;
  font-size: 16px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

a {
  color: $link-blue;
  text-decoration: none;
}

a:hover {
  color: $link-blue-hover;
  text-decoration: underline;
}

#navbar .navbar-brand img.logo {
  width: 80px;
  min-width: 80px;
}

#navbar {
  background-color: #fff;
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  padding-right: 4px !important;
  padding-left: 4px !important;

  #title-text {
	font-size: 20px;
    display: block !important;
  }

  .nav-item.active {
    .nav-text {
      @media (max-width: 576px) {
        padding-bottom: 5px;
      }
      padding-bottom: 12px;
      margin-bottom: -6px;
      content: " ";
    }
  }

  .navbar-brand img.logo {
    width: 80px;
    min-width: 80px;
  }

  .navbar-brand {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  .active .nav-link {
    color: #0082f3 !important;
    font-weight: 600;
  }

  .nav-link:hover {
    color: #0275d8 !important;
  }

  #nav-user-dropdown-menu {
    a:hover {
      text-decoration: none !important;
    }
  }
  .far.fa-question-circle,
  .icon-container {
    font-size: 25px;
  }
}

.table {
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

.table .rt-thead .rt-th {
  font-weight: 500;
  font-size: 11px;
}
.table td, .table th, .table td a, .table td button {
  padding: 7px 5px;
  font-size: 14px;
}
.table thead th {
  border-bottom: 0px;
  font-weight: 500;
  font-size: 11px;
}
.table td, .table th {
  border-top: 0px;
}

.table tbody tr:nth-child(odd) {
  background-color: #e6f1ff;
}

.table tbody tr:nth-child(even) {
  background-color: #ffffff;
}

.container {
  background-color: #ffffff;
}

.multi-container-container {
  padding: 0;
  background-color: transparent;
}

#oops-content {
  margin-top: 150px;

  .oops-big {
    font-size: 72px;
  }

  .oops-small {
    font-size: 32px;
  }

  #oops-image {
    width: 385px;
    height: 330px;
  }
}

#not-found-page {
  padding: 20px;
  background-color: $kpmp-gray;

  .not-found-image {
    max-width: 90%;
    margin-top: 30px;
    margin-right: 40px;
  }

  .not-found-container {
    max-width: 60%;
    margin: auto;
  }

  .not-found-text {
    padding-top: 30px;

    .not-found-regular {
      font-size: 32px;
    }

    .not-found-small {
      font-size: 24px;
    }
  }
}
